################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FP.TimeTracker.Dto/bin/Debug/net5.0/ref
